 /*************************************
NOTE: This is main stylesheet of website.

****************************************/

 /*================================================
            Table of contents
==================================================

0. BASE CSS
1. PRELOADER
2. SECTION TITLE AND SECTION PADDING
3. HEADER AREA
4. WELCOME AREA
5. ABOUT AREA
6. FOOTER SECTION

====================================================
            End table content
===================================================*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

 /*================================================
             0 BASE CSS
==================================================*/

a:focus {
    outline: 0 solid
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    color: #222;
    line-height: 1.4;
}
p {
   color: #000;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
}
ul,dl {
    font-size: 16px;
}
html,
body {
    height: 100%
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 28px;
}
a:hover {
    text-decoration: none
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*================================================
            1 PRELOADER
=================================================*/

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 9999999;
}
.preloader .spinner {
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*================================================
    2 SECTION TITLE AND SECTION PADDING
=================================================*/

.section-title {
    margin-bottom: 60px;
    text-align: center;
}
.section-title h2 {
    font-size: 45px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 900;
}
.section-title p {
    font-size: 14px;
    margin: 0;
}
.section-padding {
    padding: 200px 0;
}
/*================================================
            2 MULTIPLE LANGUAGE BUTTON
==================================================*/
.btn.ml-btn{
    background-color: #fff;
    border: 2px solid transparent;
    color: #222;
    margin-top: 0px;
    font-size: 26px;
}
.btn.ml-btn:hover{
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
}
/*================================================
            3 HEADER AREA
=================================================*/
.navbar-brand {
  font-size: 26px;
  font-weight: 700;
  padding-right: 40px;
}
.nav-item {
  padding-left: 15px;
}
.nav-item a {
    font-size: 22px;
}

 /*================================================
             4 WELCOME AREA
==================================================*/

.welcome-area {
    background-size: cover;
    z-index: 1;
    position: relative;
    height: 100%;
}
.welcome-area:after,
.quotes-area:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: -1;
}
.welcome-table {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
   background-color: rgba(0, 0, 0, 0.2);
}
.welcome-cell {
    display: table-cell;
    vertical-align: middle;
}
.welcome-text {
    font-size: 46px;
    color: #fff;
}
.welcome-text img {
    max-width: 80%;
    height: auto;
}
.welcome-text h1 {
    font-size: 66px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #fff;
}
.welcome-text h2 {
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #fff;
}
.welcome-text h3 {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #fff;
}
.welcome-text p{
    color: #fff;
    font-size: 26px;
    text-align: center;
}
 .typed-cursor,
 .element {
     display: inline;
     font-weight: 800;
     color: #fff;
 }



 /*================================================
             5 ABOUT AREA
==================================================*/

.about-text {
    text-align: left;
}
.about-text h4 {
	font-size: 20px;
    line-height: 18px;
	font-weight: 700;
	margin-top: 20px;
	text-transform: uppercase;
}
.about-text p {
    font-size: 20px;
    line-height: 28px;
    /*font-weight: 400;*/
 }
.caption h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: right;
 }
.caption p {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    text-align: right;
}

/*================================================
             6 TEAM AREA
==================================================*/

.team-area {
    background-color: #f7f7f7;
}
.team-text {
    text-align: justify;
}
.team-text h4 {
    font-size: 20px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}
.team-text p {
    font-size: 20px;
    line-height: 28px;
    /*font-weight: 400;*/
 }
.team-avatar {
    margin-top: 20px;
}



 /*================================================
            7 property AREA
==================================================*/

 .property-area {
     /*background-color: #f7f7f7;*/
 }
 .property-inner .mix {
     display: none;
 }
 ul.property-list {
     list-style: outside none none;
     margin-bottom: 30px;
     padding: 0;
 }
ul.property-list li {
	cursor: pointer;
	display: inline-block;
	padding: 4px 18px;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #222;
	border: 2px solid transparent;
	color: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 25px;
	margin-right: 5px;
    margin-bottom: 10px;
}
ul.property-list li:hover, ul.property-list li.active{
    background-color: transparent;
    border: 2px solid #222;
    color: #222;
}

.single-property {
    position: relative;
    margin: 0 auto 10px auto;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    text-align: left;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
    border-radius: 5px;
    background: #fff;
    transition: all 0.3s ease-in-out;

}
.single-property p{
    font-size: 18px;
}
.single-property a{
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
}
.single-property a:focus{
    outline: 0;
}
.single-property img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.property-sold h1{
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    background: #BB0000;
}

.property-pending h1{
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    background: #DAA520;
}
.property-offmarket h1{
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    background: #00BFFF;
}
.itemHover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right:20px;
    background:rgba(0,0,0,0.70);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;

}
.single-property:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    border-color: #212121;
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.single-property a:hover .itemHover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-property a:hover img {
    -webkit-transform: scale3d(1.1,1.1,1.1);
    transform: scale3d(1.1,1.1,1.1);
}

.property-table{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;

}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.table-cell h3{
    color: #fff;
}
.table-cell h4{
    color: #fff;
}
.btn.btn-property {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    display: inline-block;
    padding: 4px 10px;
    background: #fff;
    color: #444;
    border-radius: 5px;
    outline:none;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
  max-width: 100%;
/*  margin-left: 5%;*/

}
.modal-dialog {
    overflow-y: initial;
}
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    max-width: 100%;
    overflow-x: initial;
}



/*Two column list*/
ul.two-column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style-position: inside;
}


/*================================================
    8. Consulting AREA
==================================================*/

.consulting-area {
    background-color: #f7f7f7;;
}
.single-consulting {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: left;
    padding: 25px 20px 25px 20px;
    margin: 0 0 30px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.single-consulting:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    border-color: #ddd;
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.post-content {
  padding: 20px;
}
.post-content h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
}
.post-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px
}

.read-more-btn {
	padding: 6px 18px;
	background: #222;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	border: 2px solid transparent;
    transition: 0.3s;
}
.read-more-btn:hover{
    border: 2px solid #222;
    background: transparent;
    color: #222;
}
.form-option {
    padding: 0px;
    font-size: 18px;
    line-height: 22px;
}
.form-option label {
    font-weight: normal;
}

/*================================================
             Solar SECTION
==================================================*/
.solar-area {
    background-color: #f7f7f7;
 }
/*================================================
             Hunting SECTION
==================================================*/
.hunting-area {
    /*background-color: #f7f7f7;*/
 }
 /*================================================
            10 CONTACT INFO SECTION
==================================================*/
.honeypot {
  display: none; /* makes the field not visible to humans */
}

.contact-info-area {
    /*background-color: #eee;*/

 }

 .contact-form .form-group {
     margin-bottom: 16px;
     font-size: 22px;
 }
 .form-control {
     padding: 15px;
     height: auto;
     box-shadow: none !important;
     border: none;
     border-radius: 0;
     background: #f7f7f7;
     border-radius: 5px;
 }
 textarea.form-control {
     resize: vertical;
     height: 120px;
 }
 .form-control:focus {
     border: 0 solid;
 }
 .btn.disabled,
 .btn[disabled],
 fieldset[disabled] .btn {
     box-shadow: none;
     cursor: not-allowed;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

 }
 .btn.btn-effect.disabled {
     cursor: not-allowed;
 }
 .btn.btn-effect.disabled:hover {
     border: 2px solid #222;
     color: #444;
     background-color: transparent;
}
.contact-margin-top{
    margin-top: 50px;
}
.contact-space {
    background: #ddd;
    height: 1px;
    width: 100%;
    margin: 50px 0;
}
 .single-address i.fa {
    font-size: 22px;
    height: 55px;
    line-height: 30px;
    margin-right: 20px;
    width: 55px;
    background: #222;
    color: #fff;
     border: 2px solid transparent;
    line-height: 55px;
    border-radius: 50%;
    margin: 0 auto 15px;
    transition: 0.3s;
}
.single-address:hover i.fa{
    border: 2px solid #222;
    background: transparent;
    color: #222;
}
 .single-address h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}
 .single-address p {
     font-size: 14px;
     font-weight: 300;
     margin-bottom: 3px;
 }
.contact-margin-top{
    margin-top: 50px;
}



/*================================================
            6 FOOTER SECTION
==================================================*/

.footer {
     background-color: #333;
     padding: 60px 0;
 }
 .footer p {
     font-size: 16px;
     color: #fff;
     margin: 0px;
 }

.social-link {
    list-style: outside none none;
    margin: 0 0 10px 0;
    padding: 0;
}
.social-link li {
    display: inline-block;
}
.social-link li a {
    border-radius: 50%;
    color: #222;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 35px;
    background: #fff;
    line-height: 35px;
    border: 2px solid transparent;
}
.social-link li a:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
